@font-face {
  font-family: 'BenchNineBOLD';
  src: url('./assets/fonts/BenchNine-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/BenchNine-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BenchNineLIGHT';
  src: url('./assets/fonts/BenchNine-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/BenchNine-Light.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BenchNine';
  src: url('./assets/fonts/BenchNine-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/BenchNine-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}


/* ----------RESET---------*/
html, body, form, h1, div, label, header, a, nav, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  font-size: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  }

button {
  display: inline;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'BenchNine';
  background: #fafafa;
  position: absolute;
  width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
  display: block;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
.bold {
  font-family: 'BenchNineBOLD';
}

/*--------------------SPLASH------------------*/

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('./assets/2.jpeg') no-repeat center center fixed, -webkit-linear-gradient(left, #ba53a0, #fff);
  background: url('./assets/2.jpeg') no-repeat center center fixed, -o-linear-gradient(right, #ba53a0, #fff);
  background: url('./assets/2.jpeg') no-repeat center center fixed, -moz-linear-gradient(right, #ba53a0, #fff);
  background: url('./assets/2.jpeg') no-repeat center center fixed, linear-gradient(to right, #ba53a0, #fff);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-image 2s ease-in-out;
}
.left {
  background:rgba(255,255,255, 0.7);
  width: 35%;
  min-width: 236px;
  max-width: 408px;
}

.logo {
  font-size: 4.7rem;
  font-family: 'BenchNineLIGHT';
  opacity: 1;
  /*text-shadow: 2px 2px 2px #000;*/
}

.text-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.text {
  max-width: 706px;
  margin: 0 20px;
  margin-top: 5vh;
  color: #000;
  font-size: 4vh;
  text-align: left;
  line-height: 1.2;
}
h2 {
  font-size: 4.2vh;
}
.contact {
  margin-top: 8vh;
  height: 100%;
}
.contact-info {
  font-size: 4.2vh;
  margin-top: 20px;
}
.contact-info > p {
  margin-bottom: 10px;
}
.offset {
  margin-left: 37px;
}
.email {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 3.2vh;
}
.email:hover {
  color: darkblue;
  /*text-shadow: 2px 2px 2px #000;*/
}
.address {
  padding-top: 92px;
  font-size: 3vh;
}
.address a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.address a:hover {
  color: darkblue;
  /*text-shadow: 2px 2px 2px #000;*/
}

@media only screen and (max-width: 670px) {
  .address {
    padding-top: 23px;
  }
  .contact-info {
    font-size: 2.8vh;
  }
  .contact {
    margin-top: 1vh;
    margin-bottom: 9vh;
  }
}
